
body{
background-image: linear-gradient(to right top, #2766c6, #0096eb, #00bdd0, #00db84, #a8eb12);
/*background-image:url(../img/background.jpg) ;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 */
min-height: 100vh;
}

.box{
    margin-top:2rem;
}